body {
    background-color:rgb(250, 250, 250);
    text-align:center;
    width:200px;
    justify-content: center; /* Центрируем контейнер по горизонтали */
    align-items: center; /* Центрируем контейнер по вертикали */
}

button {
    margin-top: 10px;
    width:80%;
    color:white;
    background:linear-gradient(#789DE5, #1d60e5);
    border-width:0px;
    border-radius:20px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
}
.on {
    background:linear-gradient(#789DE5, #1d60e5);
}
.off {
    background:linear-gradient(red, orange);
}

input {
    font-size: 14px;
    border-width:1px;
    border-radius:0px;
}

p {
    text-align: center;
    font-size: 14px;
}

.container {
    display: flex; /* Используем Flexbox для выравнивания квадратов */
    justify-content: space-between; /* Равномерное распределение квадратов */
    align-items: center; /* Выровнять элементы по вертикали */
    gap: flex; /* Отступ между квадратами */
    margin-bottom: 5px;
}

.square {
    width: 20px; /* Ширина каждого квадрата */
    height: 20px; /* Высота каждого квадрата */
    border: 5px;
}