body {
    background-color:rgb(250, 250, 250);
    text-align:center;
    width:200px;
}

button {
    margin-top: 10px;
    width:80%;
    color:white;
    background:linear-gradient(#789DE5, #1d60e5);
    border-width:0px;
    border-radius:20px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
}

input {
    font-size: 14px;
    border-width:1px;
    border-radius:0px;
}

p {
    text-align: center;
    font-size: 14px;
}